<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Users'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    
    <h1>Welcome to the ToDo Manager!</h1>
    <br>
    <br>
    <h3>Click the button below to become a user...</h3>

    <a class="button" href="/users/">See Users</a>

</body>

</html>