h2 {
    text-align: center;
}

.create-new-user {
  text-align: center;
}

.new-user-button {
  display: inline-block;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  vertical-align: auto;
  color: #ffffff;
  background-color: #7aa8b7;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  margin: 0 auto;
}

.new-user-button:hover {
  background-color: #c2c7c7;
}

.user-index-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 400px;    

}

.user-name {
  font-size: large;
}

