h2 {
    text-align: center;
}

.create-new-user {
  text-align: center;
}

.new-user-button {
  display: inline-block;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  vertical-align: auto;
  color: #ffffff;
  background-color: #7aa8b7;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

.user-index-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 400px;    

}

/* .user-action-buttons {

    height: 100%;
    width: 50px;
    border-radius: 20%;
    text-align: center;
    padding: 0;

} */

.users-buttons-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100%;
}

.user-name {
  font-size: large;
}

/* input {

  height: 100%;
  width: 50px;

} */

.button {
    display: inline-block;
    padding: 10px 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: auto;
    color: #ffffff;
    background-color: #7aa8b7;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}
.button:hover {
  background-color: #c2c7c7;
}

form {
  width: 92px;
  height: 40px;
}

.delete-button {

  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: auto;
  color: #ffffff;
  background-color: #7aa8b7;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}
.delete-button:hover {
  background-color: #c2c7c7;
}
