<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Edit User'}) %>
    <link rel="stylesheet" href="/styles/user-details.css">
</head>

<body>
    
    <section class="hero">
        <h2>Edit User</h2>        
    </section>

    


</body>
</html>