<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'New User'}) %>
    <link rel="stylesheet" href="/styles/new-user.css">
</head>

<body>

    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Create a New User</h2>        
    </section>
    
    <div class="user-details">
        <form class="data-form" method="POST" action="/users/create">
            <!-- Name input -->
            <div class="form-entry">
                <label for="name">Name:</label>
                <input class="input" type="text" id="name" name="name" required>                
            </div>
            <!-- Alias input -->
            <div class="form-entry">
                <label for="alias">Alias:</label>
                <input class="input" type="text" id="alias" name="alias">                
            </div>
            <!-- Hometown input -->
            <div class="form-entry">
                <label for="hometown">Hometown:</label>
                <input class="input" type="text" id="hometown" name="hometown">            
            </div>
            <!-- Email input -->
            <div class="form-entry">
                <label for="email">Email:</label>
                <input class="input" type="email" id="email" name="email">                
            </div>              
            
            <input class="update-button" type="submit" value="Create User">
           
        </form>
    </div>
</body>

</html>