<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Create Todo'}) %>
    <link rel="stylesheet" href="/styles/new-todo.css">
</head>

<body class="radial-blue">
    
    <%- include('../partials/nav.ejs') %>
    <h2>Create Todo for <%= user.name %></h2>

    <form class="data-form" method="POST" action="/todos/create/<%= user._id %>">
        <!-- Item input -->
        <div class="form-entry">
            <label for="item">Item:</label>
            <input type="text" id="item" name="item" required>
        </div>
        <!-- Description input -->
        <div class="form-entry">
            <label for="description">Description:</label>
            <textarea rows="4" type="text" id="description" name="description"></textarea>
        </div>
        <!-- DueDate input -->
        <div class="form-entry">
            <label for="dueDate">Due Date:</label>
            <input type="text" id="dueDate" name="dueDate">
        </div>
        <!-- Priority input -->
        <div class="form-entry">
            <label for="priority">Priority:</label>
            <select name="priority" id="priority"> 
                <option value="High">High</option> 
                <option value="Normal" selected>Normal</option> 
                <option value="Low">Low</option>
            </select> 
        </div>
        <!-- Status input -->
        <div class="form-entry">       
            <label for="status">Status:</label>
            <select name="status" id="status"> 
                <option value="Not Started" selected>Not Started</option> 
                <option value="In progress">In progress</option> 
                <option value="Done">Done</option>
            </select> 
        </div>
        <input class="update-button" type="submit" value="Create ToDo">
    </form>

</body>

</html>